.footer{
    background-color: #1e1e1e;
    height: 40vh;
    color: whitesmoke;
    padding-top: 90px;
    display: flex;
    justify-content: center;
}

.footer-left img{
    height: 60px;
    padding: 20px 0px;
}
.footer-left h1{
    font-family: "libre baskerville", serif;
    font-size: 50px;
    
}
.footer-left{
    width: 25vw;
        border-right: 1px solid white;

}
.footer-left p{
    margin-top: 10px;
}
.footer-right{
    margin-left: 100px;
    border-right: 1px solid white;
    padding-right: 100px;


}

.footer-right p{
    margin-top: 10px;
    margin-left: 0;
}

.footer-links{
    margin-left: 100px;
}
.footer-nav{
    display: flex;
    flex-direction: column;
    color: white;

}
.footer-nav a{
    color: white;
    text-decoration: none;
    margin-top: 10px;


}

@media (max-width:999px) {
    .footer{
    background-color: #1e1e1e;
    height: auto;
    color: whitesmoke;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    padding: 10vh 10vw;
}



.footer-left img{
    height: 50px;
    padding: 20px 0px;
}
.footer-left h1{
    font-family: "libre baskerville", serif;
    font-size: 40px;

    
}
.footer-left{
    width: 100vw;
        border-right: 0px;
        padding: 0px 0;

}
.footer-left p{
    margin-top: 10px;
    font-size: 16px;
}
.footer-right{
    margin-left: 0px;
    border-right: 0px solid white;
    padding-right: 0px;
    margin-bottom: 20px;

}
.footer-right h1{
    font-size: 20px;
}
.footer-right p{
    margin-top: 10px;
    font-size: 16px;
}

.footer-links{
    margin-top: 20px;
    margin-left: 0px;
}
.footer-nav{
    display: flex;
    flex-direction: column;
    color: white;

}
.footer-nav a{
    color: white;
    text-decoration: none;
    margin-top: 10px;


}
    
}