.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 150px;
}
.nav-right a{
    margin: 0 10px;
    color: #1e1e1e;
    text-decoration: none;
    
    transition: 0.3s;
    text-align: center;

    
}
.nav-right a:hover{
    font-weight: bold;

}

.logo img{
    height: 50px;

}