.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 150px;
}
.nav-right .menu-div a{
    

    
}
.menu-item{
    margin: 0 10px;
    color: #1e1e1e;
    text-decoration: none;
    
    transition: 0.3s;
    text-align: center;

}
.menu-item:hover{
    font-weight: bold;

}

.logo img{
    height: 50px;

}


/* mobile responsive*/

.hamburger div{
    width: 25px;
    height: 3px;
    background-color: #1e1e1e;
    margin: 5px 0 ;
    border-radius: 2px;
}
.hamburger{
    display: none;
}
.menu-close-button{
    display: none;
}

.menu-div img{
    display: none;
}
@media (max-width:999px) {
    .navigation-bar{
    display: block;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px;
    
}
    .hamburger{
        display: block;
        position: absolute;
        top: 3vh;
        right: 5vw;
    }
    
    .nav-right  a{
    margin: 0 10px;
    color: #1e1e1e;
    text-decoration: none;
    
    text-align: center;

    
}
.menu-close-button{
    display: flex;
    color: red;
    background-color: transparent;
    justify-content: center;
    margin-top: 5vh;
    
}

.nav-right{
    display: none;
}

.nav-show{
    background-color: white;
    z-index: 100;
    width: 100%;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
 

}
.menu-div {
    margin-top: 4vh;
       display: flex;
flex-direction: column;

}

.menu-div img{
    display: flex;
    height: 10vh;
}
.menu-div a{
     margin: 10px 40px;
     padding: 20px 10px;
     border-bottom: 1px solid rgb(213, 213, 213);

    color: #1e1e1e;
    text-decoration: none;
    
    transition: 0.3s;
    font-weight: bold;

}



}



